ol li {
    background-color: yellow;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

ol li:nth-child(even) {
    color: green;
}

h1, h3 {
    color: red;
}

h1, h3 em{
    font-size: 16px;
    border: 1px solid black;
}