* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

header {
  margin-top: 10px;
  text-align: center;
}

main {
  position: relative;
  margin: 40px auto;
  width: fit-content;
  padding: 0 60px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #ffab07;

}

#title {
  text-align: center;
  margin-bottom: 20px;
}

.backgroun-trasparent {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.3;
  top: 50px;
  left: 50%;
  border-radius: 50px;
  transform: translateX(-50%);
}

#color-palette {
  position: relative;
  margin: auto;
  width: fit-content;
  z-index: 10;
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.buttons {
  display: inline-block;
  width: 81px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px 5px 0 15px;
  vertical-align: top;
  cursor: pointer;
}

.buttons:hover {
  border: 3px solid black;
}

#pixel-board {
  position: relative;
  margin-top: 25px;
  cursor: pointer;
  z-index: 10;
}

.rowDiv {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 40px;
}

#pixel-board .pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

main div {
  width: fit-content;
  margin: auto;
}

#clear-board {
  position: relative;
  z-index: 10;
}

.board-size-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  z-index: 10;
}

.board-size-container button {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.board-size-container input {
  line-height: 20px;
  width: 60px;
  letter-spacing: 1px;
  text-align: center;
}

.clear-button {
  width: fit-content;
}
