/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: larger;
  margin: 10px;
}

article {
  max-width: 992px;
  text-align: center;
}

h1 {
  font-size: 14px;
   margin: 10px;
}

h2 {
  font-size: 14px;
   margin: 10px;
}

img {
  max-width: 100%;
  padding: 10px;
}

/* main {

} */

section {
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: 0;
}

figcaption {
  font-size: .8em;
}


@media screen and (min-width: 768px){
  body {
    background-color: bisque;
  }
}

@media screen and (min-width: 992px){
  body {
    background-color: rgb(240, 135, 8);
  }
  
}